<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiscordRPMQTTC_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DiscordRPMQTTC_.Properties.Settings>
            <setting name="MQTT_Broker" serializeAs="String">
                <value />
            </setting>
            <setting name="MQTT_Username" serializeAs="String">
                <value />
            </setting>
            <setting name="MQTT_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="PUser" serializeAs="String">
                <value />
            </setting>
            <setting name="PDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="TCP_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WSS_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TLS_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Start_Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeedSettingsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Notifications" serializeAs="String">
                <value>False</value>
            </setting>
        </DiscordRPMQTTC_.Properties.Settings>
    </userSettings>
</configuration>